.container {
  display: flex;
  gap: 16px;
  color: #f0f1f1ff;
}

.container .section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.top-section {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.empty {
  width: 40%;
}
